<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Sign Up</h1>
    <form id="signup-form" onsubmit="signUp(event)">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" name="username" required><br>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" name="password" required><br>
        <button type="submit">Sign Up</button>
    </form>
    <a href="/">Back to Home</a>
    <script src="/static/js/scripts.js"></script>
</body>
</html>